<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-lg lg:max-w-2xl mx-auto text-center mb-12 lg:mb-16">
        <span class="text-xs font-semibold text-red-500 uppercase">About</span>
        <h2 class="mt-2 mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Meet Our Talented Team: Learn More About Us</h2>
        <p class="text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">Get to know our talented team members. Discover the stories behind each team member and their contributions to our work. See how our diverse talents can help you achieve your goals.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="w-full lg:w-1/2 p-4">
          <div class="bg-gray-50 p-6 rounded">
            <div class="flex flex-wrap items-center -mx-4">
              <div class="w-full md:w-2/5 px-4 mb-4 lg:mb-0">
                <img class="md:w-full h-52 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
              </div>
              <div class="w-full md:w-3/5 px-4">
                <h3 class="text-2xl font-bold font-heading mb-1">Mihails Smirnovs</h3>
                <p class="mb-2 text-lg text-gray-400">CEO &amp; Founder</p>
                <p class="text-lg text-gray-500 leading-loose">Driving growth and inspiring us to achieve exceptional results.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="bg-gray-50 p-6 rounded">
            <div class="flex flex-wrap items-center -mx-4">
              <div class="w-full md:w-2/5 px-4 mb-4 lg:mb-0">
                <img class="md:w-full h-52 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
              </div>
              <div class="w-full md:w-3/5 px-4">
                <h3 class="text-2xl font-bold font-heading mb-1">Michelle Smirnova</h3>
                <p class="mb-2 text-lg text-gray-400">Frontend Developer</p>
                <p class="text-lg text-gray-500 leading-loose">Dedicated to delivering exceptional user experiences with her solutions.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="bg-gray-50 p-6 rounded">
            <div class="flex flex-wrap items-center -mx-4">
              <div class="w-full md:w-2/5 px-4 mb-4 lg:mb-0">
                <img class="md:w-full h-52 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
              </div>
              <div class="w-full md:w-3/5 px-4">
                <h3 class="text-2xl font-bold font-heading mb-1">Misha Fresco</h3>
                <p class="mb-2 text-lg text-gray-400">Backend Developer</p>
                <p class="text-lg text-gray-500 leading-loose">Skilled developer on our team, delivering efficient and reliable solutions.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="bg-gray-50 p-6 rounded">
            <div class="flex flex-wrap items-center -mx-4">
              <div class="w-full md:w-2/5 px-4 mb-4 lg:mb-0">
                <img class="md:w-full h-52 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
              </div>
              <div class="w-full md:w-3/5 px-4">
                <h3 class="text-2xl font-bold font-heading mb-1">Michael Mirnov</h3>
                <p class="mb-2 text-lg text-gray-400">UI &amp; UX Designer</p>
                <p class="text-lg text-gray-500 leading-loose">Dedicated to engaging and user-friendly designs with his attention to detail.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>