<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-lg lg:max-w-2xl mx-auto text-center mb-12 lg:mb-16">
        <span class="text-xs font-semibold text-red-500 uppercase">Lorem ipsum</span>
        <h2 class="mt-2 mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 py-3">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 py-3">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 py-3">
          <div class="p-6 pb-12 bg-gray-50 rounded-lg text-center">
            <img class="w-full h-80 mx-auto mb-6 object-cover rounded-lg" src="assets/plain-assets/images/red-500-square.png" alt="">
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mt-1 mb-6 text-lg text-gray-400">CEO &amp; Founder</p>
            <div>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/facebook.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/twitter.svg">
              </a>
              <a class="inline-block mr-8" href="#">
                <img src="assets/plain-assets/socials/instagram.svg">
              </a>
              <a class="inline-block" href="#">
                <img src="assets/plain-assets/socials/github.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>