<nav class="relative py-8 bg-red-500">
    <div class="container px-4 mx-auto">
      <div class="flex justify-between items-center">
        <a class="text-gray-600 text-2xl leading-none" aria-current="page" routerLink="">
          <img class="h-8" src="assets/plain-assets/logos/plain-light.svg" alt="" width="auto">
        </a>
        <div class="lg:hidden">
          <button class="block navbar-burger text-red-50 hover:text-red-200 focus:outline-none">
            <svg class="h-4 w-4" fill="currentColor " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Mobile menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex ml-auto mr-auto items-center w-auto space-x-12">
          <li><a class="text-sm text-red-50 hover:text-red-200 font-medium" routerLink="/about">About</a></li>
          <li><a class="text-sm text-red-50 hover:text-red-200 font-medium" routerLink="/blogs">Blogs</a></li>
          <li><a class="text-sm text-red-50 hover:text-red-200 font-medium" routerLink="/newsletter">Newsletter</a></li>
          <li><a class="text-sm text-red-50 hover:text-red-200 font-medium" routerLink="/testimonials">Testimonials</a></li>
        </ul>
        <ul class="hidden lg:flex items-center w-auto">
          <li class="mr-12"><a class="text-sm text-red-50 hover:text-red-200 font-medium" routerLink="/signin">Sign in</a></li>
          <li><a class="block px-5 py-3 text-sm text-center font-semibold text-white hover:text-red-500 hover:bg-white border border-white rounded transition duration-200" routerLink="/signup">Sign up</a></li>
        </ul>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-12">
          <a class="mr-auto text-2xl font-semibold leading-none" aria-current="page" routerLink="">
            <img class="h-8" src="assets/plain-assets/logos/plain-red.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 cursor-pointer hover:text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold hover:bg-red-50 hover:text-red-500 rounded" routerLink="/about">About</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold hover:bg-red-50 hover:text-red-500 rounded" routerLink="/blogs">Blogs</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold hover:bg-red-50 hover:text-red-500 rounded" routerLink="/newsletter">Newsletter</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold hover:bg-red-50 hover:text-red-500 rounded" routerLink="/testimonials">Testimonials</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="block px-5 py-3 mb-3 text-sm text-center bg-red-500 hover:bg-red-600 text-white font-semibold border border-red-500 hover:border-red-600 rounded transition duration-200" routerLink="/signin">Sign in</a><a class="block px-5 py-3 text-sm text-center font-semibold text-red-500 hover:text-white hover:bg-red-500 border border-red-500 hover:border-red-600 rounded transition duration-200" routerLink="/signup">Sign up</a></div>
          <p class="mt-6 mb-4 text-sm text-center text-gray-500">
            <span>© 2022 All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
</nav>