<section class="py-20">
    
    <!-- Start content -->
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto mb-16 text-center">
        <div class="flex mb-2 items-center justify-center">
          <a class="text-xs text-red-500" aria-current="page" routerLink="">Home</a>
          <svg class="w-3 h-3 mx-1 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
          <a class="text-xs text-red-500" routerLink="/blogs">Blog</a>
          <svg class="w-3 h-3 mx-1 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
          <a class="text-xs text-red-500" routerLink="/testblog">Navigating the Real Estate Market</a>
        </div>
        <h2 class="mb-6 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Navigating the Real Estate Market: Complete Guide</h2>
        <div class="flex items-center justify-center">
          <div class="mr-6">
            <img class="w-16 h-16 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-bold font-heading">Mihails Smirnovs</h3>
            <p class="text-lg text-red-500">May 12, 2023</p>
          </div>
        </div>
      </div>
      <div class="h-96">
        <img class="w-full h-full object-cover rounded-lg" src="assets/plain-assets/images/red-500-horizontal.png" alt="">
      </div>
      <div class="max-w-2xl mx-auto pt-12 lg:pt-16">
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500"> I've often found myself trying to navigate the complex world of real estate. With so many factors to consider and decisions to make, it's easy to feel overwhelmed. That's why I've decided to compile my years of experience and knowledge into a comprehensive guide for navigating the real estate market. Whether you're a first-time buyer or a seasoned investor, this guide will provide valuable insights to help you make informed decisions.</p>
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">The first step in navigating the real estate market is understanding how it works. Familiarize yourself with market trends, property values, and economic factors that can impact your investment. Research the different types of properties available, such as single-family homes, condos, and commercial buildings, as well as the various financing options.</p>
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">Before diving into the real estate market, establish your goals: Are you looking to buy a home for personal use or as an investment? What is your budget and desired location? Knowing what you want will help you make better decisions and avoid unnecessary setbacks.</p>
        <ul>
          <li class="flex mb-4 items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-red-500 rounded-full text-white font-bold font-heading">1</span>
            <h3 class="text-2xl">Are you looking to buy a home for personal use or as an investment?</h3>
          </li>
          <li class="flex mb-4 items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-red-500 rounded-full text-white font-bold font-heading">2</span>
            <h3 class="text-2xl">What is your budget and desired location?</h3>
          </li>
          <li class="mb-6 flex items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-red-500 rounded-full text-white font-bold font-heading">3</span>
            <h3 class="text-2xl">What priorities guide your choice: amenities, schools or property value growth?</h3>
          </li>
        </ul>
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">Knowing what you want will help you make better decisions and avoid unnecessary setbacks.</p>
      </div>
    </div>

    <!-- With picture -->
    <div class="container px-4 mx-auto">
        <div class="max-w-2xl mx-auto">
          <h2 class="mb-8 text-3xl font-bold font-heading text-gray-900">Planning for long-term ownership</h2>
          <p class="mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">As you settle into your new property, it's important to think long-term. Develop a strategy for maintaining and enhancing your property's value over time. This includes regular maintenance, upgrades, and staying informed about local market trends. A proactive approach to property management ensures a rewarding experience, whether you're enjoying your dream home or maximizing the return on your investment.</p>
          <div class="h-96 mb-8">
            <img class="w-full h-full object-cover rounded-lg" src="assets/plain-assets/images/red-500-horizontal.png" alt="">
          </div>
          <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">A knowledgeable and experienced real estate agent can be an invaluable resource. They can provide insights into the local market, help you find properties that meet your criteria, and guide you through the negotiation process. Interview multiple agents and choose one that aligns with your goals and communication style.</p>
          <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">It's crucial to have a clear understanding of your financial situation and options before entering the real estate market. Evaluate your credit score, calculate your debt-to-income ratio and get pre-approved for a mortgage. Explore different mortgage types and their respective interest rates, down payment requirements and terms.</p>
        </div>
    </div>

    <!-- Quote -->
    <div class="container px-4 -mb-10 mx-auto">
      <div class="max-w-2xl mx-auto">
        <div class="relative py-12 px-4 lg:px-24 mb-6 bg-red-50 rounded-lg">
          <p class="text-lg leading-loose">"Embarking on the journey of real estate demands a compass of experience, knowledge, and clear goals. Only by understanding the intricate landscape of market trends, property values, and financial options can we successfully navigate the path towards informed decisions and rewarding investments".</p>
        </div>
        <p class="text-center text-lg text-gray-500">Mihails Smirnovs, CEO &amp; Founder at Realest</p>
      </div>
    </div>
</section>