<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-px">
        <div class="w-full md:w-1/2 p-px">
          <div class="text-center bg-gray-50 p-6 lg:py-12 lg:px-16 md:rounded-tl-lg">
            <span class="mx-auto mb-6 flex items-center justify-center bg-red-500 rounded-full w-12 h-12 text-red-50 font-bold font-heading">1</span>
            <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">Elevate your game</h3>
            <p class="text-gray-500 leading-loose">Our blogs are packed with insightful articles and expert advice, curated to help you excel in the world of property. Stay ahead of the competition by learning about strategies and opportunities to make your journey a successful one.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-px">
          <div class="text-center bg-gray-50 p-6 lg:py-12 lg:px-16 md:rounded-tr-lg">
            <span class="mx-auto mb-6 flex items-center justify-center bg-red-500 rounded-full w-12 h-12 text-red-50 font-bold font-heading">2</span>
            <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">Intelligence for everyone</h3>
            <p class="text-gray-500 leading-loose">Whether you're a first-time homebuyer, seasoned investor or real estate professional, our blog offers a wealth of knowledge to help you make well-informed decisions. Stay current with the latest industry trends to excel in your property pursuits.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-px">
          <div class="text-center bg-gray-50 p-6 lg:py-12 lg:px-16 md:rounded-bl-lg">
            <span class="mx-auto mb-6 flex items-center justify-center bg-red-500 rounded-full w-12 h-12 text-red-50 font-bold font-heading">3</span>
            <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">Stay successful</h3>
            <p class="text-gray-500 leading-loose">Our website covers a wide range of topics, from market trends and investment strategies to property management and home improvement tips. We're your one-stop resource for all things real estate, helping you achieve success in your journey.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-px">
          <div class="text-center bg-gray-50 p-6 lg:py-12 lg:px-16 md:rounded-br-lg">
            <span class="mx-auto mb-6 flex items-center justify-center bg-red-500 rounded-full w-12 h-12 text-red-50 font-bold font-heading">4</span>
            <h3 class="mb-4 text-xl md:text-2xl font-bold font-heading">Transform your journey</h3>
            <p class="text-gray-500 leading-loose">Discover an unparalleled wealth of information, tips, and trends to help you navigate the ever-evolving real estate landscape. Our blogs provide invaluable insights to assist you in making smart choices and reaching your property goals.</p>
          </div>
        </div>
      </div>
    </div>
</section>