<section class="pt-10 pb-10">
    <div class="container px-4 mx-auto">
        <div class="container pt-6 px-4 mx-auto">
            <div class="max-w-3xl mx-auto p-6 lg:p-12 bg-gray-50 rounded-lg text-center">
                <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
                    <input [(ngModel)]="title" name="title" required class="w-full py-3 pl-3 mb-4 border rounded" type="text" placeholder="Title">
                    <input [(ngModel)]="email" name="email" class="w-full py-3 pl-3 mb-4 border rounded" type="email" placeholder="E-mail" required readonly>
                    <textarea [(ngModel)]="comment" name="comment" required class="mb-4 w-full p-3 border rounded resize-none" cols="30" rows="2" placeholder="Comment"></textarea>
                    <button type="submit" [disabled]="!commentForm.valid" class="block w-full px-5 py-3 text-sm bg-red-500 hover:bg-red-600 text-white font-semibold border border-red-500 hover:border-red-600 rounded transition duration-200">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
