<section class="bg-red-500 pb-20">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -m-4">
        <div class="w-full lg:w-1/2 p-4">
            <div class="py-12 px-10 rounded-lg bg-white">
            <h3 class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Navigating the Real Estate Market: Complete Guide</h3>
            <p class="text-lg text-gray-500 leading-loose mb-4">Delve into the dynamic world of real estate, as we explore strategies and insights for thriving in ever-changing market conditions. Equip yourself with the knowledge to make informed decisions and excel in your real estate journey.</p>
            <a class="flex items-center text-lg font-bold text-red-500 hover:text-red-700" routerLink="/testblog">
                <span>Read more</span>
                <span>
                <svg class="ml-1 w-5 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></span>
            </a>
            </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
            <div class="py-12 px-10 rounded-lg bg-white">
            <h3 class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Building Your Real Estate Brand: Tips for Success</h3>
            <p class="text-lg text-gray-500 leading-loose mb-4">Establishing a strong brand is vital for any real estate professional. Discover practical tips and expert advice for cultivating a memorable and trustworthy presence that sets you apart from the competition and attracts clients.</p>
            <a class="flex items-center text-lg font-bold text-red-500 hover:text-red-700" routerLink="/testblog">
                <span>Read more</span>
                <span>
                <svg class="ml-1 w-5 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></span>
            </a>
            </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
            <div class="py-12 px-10 rounded-lg bg-white">
            <h3 class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Leveraging Technology in Today's Real Estate Industry</h3>
            <p class="text-lg text-gray-500 leading-loose mb-4">Stay ahead of the curve in the rapidly evolving real estate landscape by harnessing the potential of technology. Gain insights into the latest tools, software, and platforms that can transform your business, and optimize your client experience.</p>
            <a class="flex items-center text-lg font-bold text-red-500 hover:text-red-700" routerLink="/testblog">
                <span>Read more</span>
                <span>
                <svg class="ml-1 w-5 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></span>
            </a>
            </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
            <div class="py-12 px-10 rounded-lg bg-white">
            <h3 class="mb-4 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Green Living: Sustainable Practices for Properties</h3>
            <p class="text-lg text-gray-500 leading-loose mb-4">Embrace eco-friendly living and enhance property value with sustainable practices. Explore innovative solutions, materials, and technologies that contribute to a healthier environment, while promoting energy efficiency and cost savings.</p>
            <a class="flex items-center text-lg font-bold text-red-500 hover:text-red-700" routerLink="/testblog">
                <span>Read more</span>
                <span>
                <svg class="ml-1 w-5 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></span>
            </a>
            </div>
        </div>
        </div>
    </div>
</section>