<section class="pb-20"><div class="container px-4 mx-auto">
  <div class="flex flex-wrap items-center justify-around -m-4">
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">As a determined broker, I take pride in finding clients their dream homes. I'll use my resourcefulness to ensure the perfect deal!</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Colette Tatou</p>
        <p class="text-lg text-gray-400">Broker</p>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">As an investor, I understand the importance of finding value in real estate. Trust my discerning eye to identify lucrative opportunities.</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Anton Ego</p>
        <p class="text-lg text-gray-400">Investor</p>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">I'm a hardworking broker who takes a genuine interest in clients' needs. With persistence, we'll find your ideal property!</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Alfredo Linguini</p>
        <p class="text-lg text-gray-400">Broker</p>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">As an agent, my sense helps me uncover hidden gems. I'll sniff out opportunities to make your dreams come true.</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Remi</p>
        <p class="text-lg text-gray-400">Agent</p>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">I'm a creative broker who believes in delivering exceptional service. Let me guide you through the real estate world with expertise.</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Auguste Gusteau</p>
        <p class="text-lg text-gray-400">Broker</p>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
      <div class="bg-gray-50 p-6 rounded-lg">
        <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">As a manager, I excel at organization and efficiency. I ensure every deal runs smoothly, providing top-notch service to clients.</p>
        <img class="mb-2 h-12 w-12 object-cover rounded-full" src="assets/plain-assets/images/red-400-avatar.png" alt=""><p class="text-2xl font-bold font-heading">Ambrister Minion</p>
        <p class="text-lg text-gray-400">Manager</p>
      </div>
    </div>
  </div>
  </div>
</section>